name: Check Resources

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@v2

      - name: Set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x

      - name: Run Checks
        run: |
          gem install awesome_bot
          awesome_bot -f README.md --allow-ssl --allow 302,429 --whitelist firsttimersonly,otherdomain-without-the-TLD
          gem install danger
          danger
        shell: bash +e +o pipefail {0}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
